@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenLayers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <style>
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "Microsoft YaHei";
        }

        .map {
            height: 100%;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
</head>
<body>
    <div id="map" class="map"></div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        Date.prototype.format = function (format) {
            var o = {
                "M+": this.getMonth() + 1, //month
                "d+": this.getDate(),    //day
                "H+": this.getHours(),   //hour
                "h+": this.getHours(),   //hour
                "m+": this.getMinutes(), //minute
                "s+": this.getSeconds(), //second
                "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
                "S": this.getMilliseconds() //millisecond
            }
            if (/(y+)/.test(format)) format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(format))
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            return format;
        }

        String.prototype.format = function () {
            var str = this.toString();
            if (!arguments.length)
                return str;
            var args = typeof arguments[0],
                args = (("string" == args || "number" == args) ? arguments : arguments[0]);
            for (arg in args)
                str = str.replace(RegExp("\\{" + arg + "\\}", "gi"), args[arg]);
            return str;
        }
    </script>
    <script type="text/javascript">
        var center = [106.45, 33.68];
        var imageExtent = [];
        var a = ol.proj.fromLonLat([60.42, 10.01]);
        var b = ol.proj.fromLonLat([152.48, 57.35]);
        imageExtent[0] = a[0];
        imageExtent[1] = a[1];
        imageExtent[2] = b[0];
        imageExtent[3] = b[1];
        var items = ["AQI", "PM2.5", "PM10", "SO2", "NO2", "CO", "O3"];
        var itemIndex = 6;
        var item = items[itemIndex];
        var date = new Date();
        if (date.getMinutes() < 35) {
            date.setHours(date.getHours() - 1);
        }
        var url = 'https://graph.zq12369.cn/{0}/hour/CUACE_09km_{0}_station_{1}.png'.format(item, date.format("yyyy-MM-dd HH:00:00"));
        var map;
        var imageLayer;

        var GraphicControl = (function (Control) {
            function GraphicControl(opt_options) {
                var div = document.createElement("div");
                div.style.backgroundColor = "#4890D6";
                div.style.color = "#FFFFFF";
                div.style.textAlign = "center";
                div.style.padding = "5px";
                div.style.borderRadius = "5px";
                div.style.fontSize = "16px";
                div.style.position = "absolute";
                div.style.top = "10px";
                div.style.left = "40px";
                div.innerHTML = "CUACE模型预报";
                div.id = "graphicControl";

                ol.control.Control.call(this, {
                    element: div
                });
            }

            if (Control) GraphicControl.__proto__ = Control;
            GraphicControl.prototype = Object.create(Control && Control.prototype);
            GraphicControl.prototype.constructor = GraphicControl;

            return GraphicControl;
        }(ol.control.Control));

        var VisualMapControl = (function (Control) {
            function VisualMapControl(opt_options) {
                var img = document.createElement("img");
                img.src = "http://218.75.139.117:8083/Content/images/visualMap.png";
                img.style.position = "absolute";
                img.style.bottom = "0px";
                img.style.right = "0px";

                ol.control.Control.call(this, {
                    element: img
                });
            }

            if (Control) VisualMapControl.__proto__ = Control;
            VisualMapControl.prototype = Object.create(Control && Control.prototype);
            VisualMapControl.prototype.constructor = VisualMapControl;

            return VisualMapControl;
        }(ol.control.Control));

        var TypeSwitchMapControl = (function (Control) {
            function TypeSwitchMapControl(opt_options) {
                var button = document.createElement("button");
                button.style.position = "absolute";
                button.style.top = "10px";
                button.style.right = "10px";
                button.innerHTML = "切换";

                ol.control.Control.call(this, {
                    element: button
                });

                button.addEventListener('click', this.clickFunction.bind(this), false);
            }

            if (Control) TypeSwitchMapControl.__proto__ = Control;
            TypeSwitchMapControl.prototype = Object.create(Control && Control.prototype);
            TypeSwitchMapControl.prototype.constructor = TypeSwitchMapControl;

            TypeSwitchMapControl.prototype.clickFunction = switchFunction;
            return TypeSwitchMapControl;
        }(ol.control.Control));

        function switchFunction() {
            itemIndex++;
            if (itemIndex == items.length) {
                itemIndex = 0;
            }
            item = items[itemIndex];
            document.getElementById("graphicControl").innerHTML = "CUACE模型{0}预报<br />{1}".format(item, date.format("yyyy-MM-dd HH:00:00"));
            setImage();
        }

        function setImage() {
            url = 'https://graph.zq12369.cn/{0}/hour/CUACE_09km_{0}_station_{1}.png'.format(item, date.format("yyyy-MM-dd HH:00:00"));
            if (imageLayer) {
                map.removeLayer(imageLayer);
            }
            imageLayer = new ol.layer.Image({
                source: new ol.source.ImageStatic({
                    url: url,
                    imageExtent: imageExtent
                }),
                opacity: 0.7
            });
            map.addLayer(imageLayer);
        }

        map = new ol.Map({
            target: 'map',
            controls: ol.control.defaults({
                attributionOptions: {
                    collapsible: false
                }
            }).extend([
                new GraphicControl(), new VisualMapControl(), new TypeSwitchMapControl()
            ]),
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat(center),
                zoom: 4
            })
        });

        switchFunction();

        var cityInfos = {
            "北京市": [116.395645, 39.929986],
            "石家庄市": [114.522082, 38.048958],
            "秦皇岛市": [119.604368, 39.945462],
            "邯郸市": [114.482694, 36.609308],
            "邢台市": [114.520487, 37.069531],
            "保定市": [115.49481, 38.886565],
            "承德市": [117.933822, 40.992521],
            "衡水市": [115.686229, 37.746929],
            "太原市": [112.550864, 37.890277],
            "大同市": [113.290509, 40.113744],
            "阳泉市": [113.569238, 37.869529],
            "长治市": [113.120292, 36.201664],
            "晋城市": [112.867333, 35.499834],
            "朔州市": [112.479928, 39.337672],
            "晋中市": [112.738514, 37.693362],
            "运城市": [111.006854, 35.038859],
            "忻州市": [112.727939, 38.461031],
            "临汾市": [111.538788, 36.099745],
            "吕梁市": [111.143157, 37.527316],
            "呼和浩特市": [111.660351, 40.828319],
            "包头市": [109.846239, 40.647119],
            "乌海市": [106.831999, 39.683177],
            "赤峰市": [118.930761, 42.297112],
            "通辽市": [122.260363, 43.633756],
            "鄂尔多斯市": [109.993706, 39.81649],
            "呼伦贝尔市": [119.760822, 49.201636],
            "巴彦淖尔市": [107.423807, 40.76918],
            "乌兰察布市": [113.112846, 41.022363],
            "兴安盟": [122.048167, 46.083757],
            "锡林郭勒盟": [116.02734, 43.939705],
            "阿拉善盟": [105.695683, 38.843075],
            "沈阳市": [123.432791, 41.808645],
            "大连市": [121.593478, 38.94871],
            "鞍山市": [123.007763, 41.118744],
            "抚顺市": [123.92982, 41.877304],
            "本溪市": [123.778062, 41.325838],
            "丹东市": [124.338543, 40.129023],
            "锦州市": [121.147749, 41.130879],
            "营口市": [122.233391, 40.668651],
            "阜新市": [121.660822, 42.01925],
            "辽阳市": [123.172451, 41.273339],
            "盘锦市": [122.073228, 41.141248],
            "铁岭市": [123.85485, 42.299757],
            "朝阳市": [120.446163, 41.571828],
            "葫芦岛市": [120.860758, 40.74303],
            "长春市": [125.313642, 43.898338],
            "吉林市": [126.564544, 43.871988],
            "四平市": [124.391382, 43.175525],
            "辽源市": [125.133686, 42.923303],
            "通化市": [125.94265, 41.736397],
            "白山市": [126.435798, 41.945859],
            "松原市": [124.832995, 45.136049],
            "白城市": [122.840777, 45.621086],
            "延边朝鲜族自治州": [129.485902, 42.896414],
            "哈尔滨市": [126.657717, 45.773225],
            "齐齐哈尔市": [123.987289, 47.3477],
            "鸡西市": [130.941767, 45.32154],
            "鹤岗市": [130.292472, 47.338666],
            "双鸭山市": [131.171402, 46.655102],
            "大庆市": [125.02184, 46.596709],
            "伊春市": [128.910766, 47.734685],
            "佳木斯市": [130.284735, 46.81378],
            "七台河市": [131.019048, 45.775005],
            "牡丹江市": [129.608035, 44.588521],
            "黑河市": [127.50083, 50.25069],
            "绥化市": [126.989095, 46.646064],
            "大兴安岭地区": [124.196104, 51.991789],
            "上海市": [121.487899, 31.249162],
            "南京市": [118.778074, 32.057236],
            "无锡市": [120.305456, 31.570037],
            "徐州市": [117.188107, 34.271553],
            "常州市": [119.981861, 31.771397],
            "苏州市": [120.619907, 31.317987],
            "南通市": [120.873801, 32.014665],
            "连云港市": [119.173872, 34.601549],
            "淮安市": [119.030186, 33.606513],
            "盐城市": [120.148872, 33.379862],
            "扬州市": [119.427778, 32.408505],
            "镇江市": [119.455835, 32.204409],
            "泰州市": [119.919606, 32.476053],
            "宿迁市": [118.296893, 33.95205],
            "杭州市": [120.219375, 30.259244],
            "宁波市": [121.579006, 29.885259],
            "温州市": [120.690635, 28.002838],
            "嘉兴市": [120.760428, 30.773992],
            "湖州市": [120.137243, 30.877925],
            "衢州市": [118.875842, 28.95691],
            "舟山市": [122.169872, 30.03601],
            "台州市": [121.440613, 28.668283],
            "丽水市": [119.929576, 28.4563],
            "合肥市": [117.282699, 31.866942],
            "芜湖市": [118.384108, 31.36602],
            "蚌埠市": [117.35708, 32.929499],
            "淮南市": [117.018639, 32.642812],
            "马鞍山市": [123.007763, 41.118744],
            "淮北市": [116.791447, 33.960023],
            "铜陵市": [117.819429, 30.94093],
            "安庆市": [117.058739, 30.537898],
            "黄山市": [118.29357, 29.734435],
            "滁州市": [118.32457, 32.317351],
            "阜阳市": [115.820932, 32.901211],
            "宿州市": [116.988692, 33.636772],
            "巢湖市": [117.88049, 31.608733],
            "六安市": [116.505253, 31.755558],
            "亳州市": [115.787928, 33.871211],
            "池州市": [117.494477, 30.660019],
            "宣城市": [118.752096, 30.951642],
            "福州市": [119.330221, 26.047125],
            "厦门市": [118.103886, 24.489231],
            "莆田市": [119.077731, 25.44845],
            "三明市": [117.642194, 26.270835],
            "泉州市": [118.600362, 24.901652],
            "漳州市": [117.676205, 24.517065],
            "南平市": [118.181883, 26.643626],
            "龙岩市": [117.017997, 25.078685],
            "宁德市": [119.542082, 26.656527],
            "南昌市": [115.893528, 28.689578],
            "景德镇市": [117.186523, 29.303563],
            "萍乡市": [113.859917, 27.639544],
            "九江市": [115.999848, 29.71964],
            "新余市": [114.947117, 27.822322],
            "鹰潭市": [117.03545, 28.24131],
            "赣州市": [114.935909, 25.845296],
            "吉安市": [114.992039, 27.113848],
            "宜春市": [114.400039, 27.81113],
            "抚州市": [116.360919, 27.954545],
            "上饶市": [117.955464, 28.457623],
            "济南市": [117.024967, 36.682785],
            "青岛市": [120.384428, 36.105215],
            "淄博市": [118.059134, 36.804685],
            "枣庄市": [117.279305, 34.807883],
            "东营市": [118.583926, 37.487121],
            "烟台市": [121.309555, 37.536562],
            "潍坊市": [119.142634, 36.716115],
            "济宁市": [116.600798, 35.402122],
            "泰安市": [117.089415, 36.188078],
            "威海市": [122.093958, 37.528787],
            "日照市": [119.50718, 35.420225],
            "莱芜市": [117.684667, 36.233654],
            "临沂市": [118.340768, 35.072409],
            "德州市": [116.328161, 37.460826],
            "聊城市": [115.986869, 36.455829],
            "滨州市": [117.968292, 37.405314],
            "荷泽市": [115.46336, 35.26244],
            "郑州市": [113.649644, 34.75661],
            "开封市": [114.351642, 34.801854],
            "洛阳市": [112.447525, 34.657368],
            "平顶山市": [113.300849, 33.745301],
            "安阳市": [114.351807, 36.110267],
            "鹤壁市": [114.29777, 35.755426],
            "新乡市": [113.91269, 35.307258],
            "焦作市": [113.211836, 35.234608],
            "濮阳市": [115.026627, 35.753298],
            "许昌市": [113.835312, 34.02674],
            "漯河市": [114.046061, 33.576279],
            "三门峡市": [111.181262, 34.78332],
            "南阳市": [112.542842, 33.01142],
            "商丘市": [115.641886, 34.438589],
            "信阳市": [114.085491, 32.128582],
            "周口市": [114.654102, 33.623741],
            "驻马店市": [114.049154, 32.983158],
            "武汉市": [114.3162, 30.581084],
            "黄石市": [115.050683, 30.216127],
            "十堰市": [110.801229, 32.636994],
            "宜昌市": [111.310981, 30.732758],
            "襄樊市": [112.176326, 32.094934],
            "鄂州市": [114.895594, 30.384439],
            "荆门市": [112.21733, 31.042611],
            "孝感市": [113.935734, 30.927955],
            "荆州市": [112.241866, 30.332591],
            "黄冈市": [114.906618, 30.446109],
            "咸宁市": [114.300061, 29.880657],
            "随州市": [113.379358, 31.717858],
            "恩施土家族苗族自治州": [109.517433, 30.308978],
            "长沙市": [112.979353, 28.213478],
            "株洲市": [113.131695, 27.827433],
            "湘潭市": [112.935556, 27.835095],
            "衡阳市": [112.583819, 26.898164],
            "邵阳市": [111.461525, 27.236811],
            "岳阳市": [113.146196, 29.378007],
            "常德市": [111.653718, 29.012149],
            "张家界市": [110.48162, 29.124889],
            "益阳市": [112.366547, 28.588088],
            "郴州市": [113.037704, 25.782264],
            "永州市": [111.614648, 26.435972],
            "怀化市": [109.986959, 27.557483],
            "娄底市": [111.996396, 27.741073],
            "湘西土家族苗族自治州": [109.745507, 28.317399],
            "广州市": [113.30765, 23.120049],
            "韶关市": [113.594461, 24.80296],
            "深圳市": [114.025974, 22.546054],
            "珠海市": [113.562447, 22.256915],
            "汕头市": [116.72865, 23.383908],
            "佛山市": [113.134026, 23.035095],
            "江门市": [113.078125, 22.575117],
            "湛江市": [110.365067, 21.257463],
            "茂名市": [110.931245, 21.668226],
            "肇庆市": [112.479653, 23.078663],
            "惠州市": [114.410658, 23.11354],
            "梅州市": [116.126403, 24.304571],
            "汕尾市": [115.372924, 22.778731],
            "河源市": [114.713721, 23.757251],
            "阳江市": [111.97701, 21.871517],
            "清远市": [113.040773, 23.698469],
            "东莞市": [113.763434, 23.043024],
            "中山市": [113.42206, 22.545178],
            "潮州市": [116.630076, 23.661812],
            "揭阳市": [116.379501, 23.547999],
            "云浮市": [112.050946, 22.937976],
            "南宁市": [108.297234, 22.806493],
            "柳州市": [109.422402, 24.329053],
            "桂林市": [110.26092, 25.262901],
            "梧州市": [111.305472, 23.485395],
            "北海市": [109.122628, 21.472718],
            "防城港市": [108.351791, 21.617398],
            "钦州市": [108.638798, 21.97335],
            "贵港市": [109.613708, 23.103373],
            "玉林市": [110.151676, 22.643974],
            "百色市": [106.631821, 23.901512],
            "贺州市": [111.552594, 24.411054],
            "河池市": [108.069948, 24.699521],
            "来宾市": [109.231817, 23.741166],
            "崇左市": [107.357322, 22.415455],
            "海口市": [110.330802, 20.022071],
            "三亚市": [109.522771, 18.257776],
            "成都市": [104.067923, 30.679943],
            "自贡市": [104.776071, 29.359157],
            "攀枝花市": [101.722423, 26.587571],
            "泸州市": [105.44397, 28.89593],
            "德阳市": [104.402398, 31.13114],
            "绵阳市": [104.705519, 31.504701],
            "广元市": [105.819687, 32.44104],
            "遂宁市": [105.564888, 30.557491],
            "内江市": [105.073056, 29.599462],
            "乐山市": [103.760824, 29.600958],
            "南充市": [106.105554, 30.800965],
            "眉山市": [103.84143, 30.061115],
            "宜宾市": [104.633019, 28.769675],
            "广安市": [106.63572, 30.463984],
            "达州市": [107.494973, 31.214199],
            "雅安市": [103.009356, 29.999716],
            "巴中市": [106.757916, 31.869189],
            "资阳市": [104.63593, 30.132191],
            "阿坝藏族羌族自治州": [102.231186, 31.905609],
            "甘孜藏族自治州": [101.969084, 30.055207],
            "凉山彝族自治州": [102.273965, 27.887685],
            "贵阳市": [106.709177, 26.629907],
            "六盘水市": [104.852087, 26.591866],
            "遵义市": [106.93126, 27.699961],
            "安顺市": [105.92827, 26.228595],
            "铜仁地区": [109.196161, 27.726271],
            "黔西南布依族苗族自治州": [104.910858, 25.095974],
            "毕节地区": [105.300492, 27.302612],
            "黔东南苗族侗族自治州": [107.990602, 26.589858],
            "黔南布依族苗族自治州": [107.528663, 26.260586],
            "昆明市": [102.714601, 25.049153],
            "曲靖市": [103.782539, 25.520758],
            "玉溪市": [102.545068, 24.370447],
            "保山市": [99.177996, 25.120489],
            "昭通市": [103.725021, 27.340633],
            "丽江市": [100.229628, 26.875351],
            "思茅市": [100.983475, 22.792538],
            "临沧市": [100.092613, 23.887806],
            "楚雄彝族自治州": [101.534082, 25.051226],
            "红河哈尼族彝族自治州": [103.38215, 23.369914],
            "西双版纳傣族自治州": [100.803038, 22.009433],
            "大理白族自治州": [100.274223, 25.612206],
            "德宏傣族景颇族自治州": [98.591419, 24.438031],
            "怒江傈僳族自治州": [98.863189, 25.823736],
            "迪庆藏族自治州": [99.709480, 27.825264],
            "拉萨市": [91.111891, 29.662557],
            "昌都地区": [97.185582, 31.140576],
            "山南地区": [91.750644, 29.229027],
            "日喀则地区": [88.891486, 29.269023],
            "那曲地区": [92.067018, 31.48068],
            "阿里地区": [81.107669, 30.404557],
            "林芝地区": [94.349985, 29.666941],
            "西安市": [108.953098, 34.2778],
            "铜川市": [108.968067, 34.908368],
            "宝鸡市": [107.170645, 34.364081],
            "咸阳市": [108.707509, 34.345373],
            "渭南市": [109.483933, 34.502358],
            "延安市": [109.50051, 36.60332],
            "汉中市": [107.045478, 33.081569],
            "榆林市": [109.745926, 38.279439],
            "安康市": [109.038045, 32.70437],
            "商洛市": [109.934208, 33.873907],
            "兰州市": [103.823305, 36.064226],
            "嘉峪关市": [98.281635, 39.802397],
            "金昌市": [102.208126, 38.516072],
            "白银市": [104.171241, 36.546682],
            "天水市": [105.736932, 34.584319],
            "武威市": [102.640147, 37.933172],
            "张掖市": [100.459892, 38.93932],
            "平凉市": [106.688911, 35.55011],
            "酒泉市": [98.508415, 39.741474],
            "庆阳市": [107.644227, 35.726801],
            "定西市": [104.626638, 35.586056],
            "陇南市": [104.934573, 33.39448],
            "临夏回族自治州": [103.217303, 35.607475],
            "甘南藏族自治州": [102.917605, 34.989010],
            "西宁市": [101.767921, 36.640739],
            "海东地区": [102.085207, 36.51761],
            "海北藏族自治州": [100.907395, 36.960702],
            "黄南藏族自治州": [102.021495, 35.526125],
            "海南藏族自治州": [109.733755, 19.180501],
            "果洛藏族自治州": [100.251341, 34.477207],
            "玉树藏族自治州": [97.01308, 33.011061],
            "海西蒙古族藏族自治州": [97.376359, 37.382911],
            "银川市": [106.206479, 38.502621],
            "石嘴山市": [106.379337, 39.020223],
            "吴忠市": [106.208254, 37.993561],
            "固原市": [106.285268, 36.021523],
            "中卫市": [105.196754, 37.521124],
            "乌鲁木齐市": [87.564988, 43.84038],
            "克拉玛依市": [84.88118, 45.594331],
            "吐鲁番地区": [89.181595, 42.96047],
            "哈密地区": [93.528355, 42.858596],
            "昌吉回族自治州": [87.314822, 44.016923],
            "博尔塔拉蒙古自治州": [82.072686, 44.912246],
            "库尔勒市": [86.181586, 41.731921],
            "阿克苏地区": [80.269846, 41.171731],
            "克孜勒苏柯尔克孜自治州": [76.173127, 39.721257],
            "喀什地区": [75.992973, 39.470627],
            "和田地区": [79.930239, 37.116774],
            "伊犁哈萨克自治州": [81.330697, 43.922815],
            "塔城地区": [82.974881, 46.758684],
            "阿勒泰地区": [88.137915, 47.839744],
            "张家口市": [114.893782, 40.811188],
            "天津市": [117.210813, 39.14393],
            "重庆市": [106.530635, 29.544606],
            "福清市": [119.390575, 25.726485],
            "长乐市": [119.529679, 25.969187],
            "绍兴市": [120.592467, 30.002365],
            "廊坊市": [116.703602, 39.518611],
            "唐山市": [118.183451, 39.650531],
            "沧州市": [116.863806, 38.297615],
            "金华市": [119.652576, 29.102899],
            "菏泽市": [115.46336, 35.26244]
        };
        var colors = ["#00E400", "#FFFF00", "#FF7E00", "#FF0000", "#99004C", "#7E0023"];
        function getColor(value) {
            var index = 0;
            if (value > 300) {
                index = 5;
            } else if (value > 200) {
                index = 4;
            } else if (value > 150) {
                index = 3;
            } else if (value > 100) {
                index = 2;
            } else if (value > 50) {
                index = 1;
            }
            return colors[index];
        }

        var WFSVectorSource = new ol.source.Vector();
        var WFSVectorLayer = new ol.layer.Vector({
            source: WFSVectorSource
        });
        map.addLayer(WFSVectorLayer);



        $.ajax({
            url: "/Home/GetCityHourData",
            data: { timePoint: date.format("yyyy-MM-dd HH:00:00") },
        }).done(function (result) {
            for (var i in result) {
                var city = cityInfos[result[i]["Name"]];
                var value = result[i][item] - 0;
                if (city == undefined) {
                    console.log(result[i]["Name"]);
                } else {
                    var feature = new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat(city)),
                        value: value
                    });
                    feature.setStyle(new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 6,
                            fill: new ol.style.Fill({ color: getColor(value) })
                        })
                    }));
                    WFSVectorSource.addFeature(feature);
                }
            }
        });
    </script>
</body>
</html>
